/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2017, 2:28:20 PM
    Author     : scottbutler
*/

/*
.container { border: 1px solid #6c3483; }
.pagefooter { text-align: center ;}
.header { padding-bottom: 5px;  background-color: #3366cc; color: #fff;}
.footer { height: 30px; line-height: 30px; color: #fff;  text-align: center; border-top: 1px solid; margin-top: 20px; background-color: #336699;}
.menu-item {display: inline-block; float: left; width: 100px; }
.content {min-height: 400px; }
.a-menu {color: #fff;}
.a-menu:hover { color: #eee; }
#item-desc {min-height: 200px; background-color: #f0f0f0; padding: 10px;  margin-bottom: 10px;}
#outer-box {border: 1px solid;}
.link{ color: blue;  cursor: pointer}
.link:hover {text-decoration: underline}
#banner { width: 100%; }
#sign-in{height: 30px; color: #000;}
#lg-box { color: #000;}
#main { margin: 0; padding: 0;}
#customer-name, #acc-info { display: none;}
#sign-in, #sign-out {color: #fff; margin-left: 20px; cursor: pointer; text-decoration: underline;}
input.log-info { border-radius: 5px; height: 20px;}
*/

/* Styles for the splash page */
.top-marg{
     margin-top:80px;
 }


body p{
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

.topDiv{
    margin-top: 100px;
}
.logo{
    font-size: 70px;
}

#footer{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 15px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}




#coachConfirmation table{
    margin-bottom: 500px;
}


/******************************************
Header
******************************************/

.navbar{
    height: 70px;
   
}
.navbar-brand{
     padding-top: 10px;
}
.navbar-form{
    margin-top: 15px;   
}

head{
    display: inline-block;
}

.link{
    text-align: center;
}

.navbar-brand .home{
    position: absolute;
    top: 5px;
}

.link p{
    color: white;
}

.home{
    font-size: 150%;
}

/******************************************
Universal classes - Splash Page
******************************************/
.blue{
    color: #3399cc;
}
.orange{
    color: #ff9933;
}
.icon{
    text-align: center;
}

h1, h2, h3, h4{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}
/******************************************
Jumbotron - Splash Page
******************************************/
#splash{
    margin-bottom: 0px;
    height: 60%;
}

.jumbotron{
    text-align: center;
    margin-top: 20px;
    background-image: url("../images/coolField7.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    color: white;
    
}

.jumbotron h1{
    font-size: 280%;
    /*font-size: 2.5vw;*/
}
.jumbotron p{
    color: white;
    /*font-size: 1vw;*/
}
.jumbotron .container{
    margin-top: 10px;
}

/******************************************
Sign up - Splash Page
******************************************/
.signup p{
    font-size: 120%;
}

.playerPhoto{
    background-image: url("../images/player.jpg");
    background-size: cover;
}

.coachPhoto{
    background-image: url("../images/player.jpg");
    background-size: cover;
}

.signup p, .signup h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup p{
    font-size: 120%;
}

#signup{
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 2%;
}

#signup h1{
    color: #ff9933;
}

#signup h2{
    color: #3399cc;
}

/******************************************
Dreaming of playing - Splash Page
******************************************/
.players{
    background-color: #f7f7f7;
    padding-top: 30px;
    /*background-image: url("../images/wSoccer.png");
    background-color: rgba(255, 0, 0, 0.5);
    background-size: cover;*/
}

.players p{
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.players{
    text-align: center;
}

.players h1{
    /*margin-top: 2%;*/
    color: #ff9933;
    font-size: 280%;
}

.players h2{
    margin-top: 4%;
    padding-bottom: 4%;
    color: #ff9933;
}

/******************************************
Tips - Splash Page
******************************************/
.tips{
    /*background-image: url("../images/Blue1.png");
    background-size: cover;*/
    background-color: #f7f7f7;
    color: black;
    text-align: center;
}
.tips p{
    color: black;
}

.tips h1{
    margin-top: 2%;
    color: #ff9933;
    font-size: 280%;
}

.tips h3{
    margin-top: 5%;
    margin-bottom: 5%;
}

.tips p{
     font-family: 'Roboto', Helvetica, Arial, sans-serif;
     font-size: 100%;
     margin-top: 10%;
     font-weight: bold;
}

/******************************************
Superstar - Splash Page
******************************************/
#superstar{
    /*background-color: #f7f7f7;*/
    background-image: url("../images/Blue1.png");
    background-size: cover;
    text-align: center;
    color: white;
    
}

#superstar h1{
    text-align: center;
    /*color: #ff9933;*/
    font-size: 280%;
    color: white;
    word-wrap: break-word;
}

#superstar h3{
    color: white;
}

#superstar h4{
    color: white;
}

#superstar h2{
    text-align: center;
    /*color: #ff9933;*/
    margin-top: 4%;
    margin-bottom: 4%;
    color: white;
}

.superstar fa{
    color: white;
}

.white{
    color: white;
}

/******************************************
Join the network - Splash Page
******************************************/
.join h4{
    text-align: left;
}

.join h1{
    margin-top: 2%;
    color: #ff9933;
    text-align: center;
    font-size: 280%;
}

.join h2{
    color: #3399cc;
    margin-top: 5%;
    text-align: center;
}

#join{
    background-color: #f7f7f7;
    background-image: url("../images/wSoccer.png");
    background-size: cover;
    background-position: bottom;
}

.join{
    background-color: #f7f7f7;
    text-align: center;
}

.join ul {
    list-style: none;
    font-size: 150%;
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
    text-align: left;
    margin-bottom: 10%;
}

ul li:before{
    content: '✓'; 
    color: #ff9933;
}

/******************************************
RecruitChute difference - Splash page
******************************************/
#learnMore p{
    padding-top:20px;
    color: black;
}
#learnMore{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../images/field2.jpg");
    background-size: cover;
}

.backFour h4{
    color: black;
    text-align: center;
}

.difference h2{
    font-size: 200%;
}

.gray{
    background-color: #f7f7f7;
    margin-left:0px;
    margin-right:0px;
    /*padding-left: 10%;
    padding-right: 10%;*/
    width: 100%;
    
}


/******************************************
About US
******************************************/

.about h2{
    color: #ff9933;
}

.mission{
    padding-top: 10%;
}

.started{
    padding-bottom: 5%;
}

.about h4{
    color: #696969;
}

.quote{
    font-size: 200%;
}

.title h4{
    font-family: Wingdings;
    color: black;
}

.title p{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
}