/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2017, 2:28:20 PM
    Author     : scottbutler
*/

/*
.container { border: 1px solid #6c3483; }
.pagefooter { text-align: center ;}
.header { padding-bottom: 5px;  background-color: #3366cc; color: #fff;}
.footer { height: 30px; line-height: 30px; color: #fff;  text-align: center; border-top: 1px solid; margin-top: 20px; background-color: #336699;}
.menu-item {display: inline-block; float: left; width: 100px; }
.content {min-height: 400px; }
.a-menu {color: #fff;}
.a-menu:hover { color: #eee; }
#item-desc {min-height: 200px; background-color: #f0f0f0; padding: 10px;  margin-bottom: 10px;}
#outer-box {border: 1px solid;}
.link{ color: blue;  cursor: pointer}
.link:hover {text-decoration: underline}
#banner { width: 100%; }
#sign-in{height: 30px; color: #000;}
#lg-box { color: #000;}
#main { margin: 0; padding: 0;}
#customer-name, #acc-info { display: none;}
#sign-in, #sign-out {color: #fff; margin-left: 20px; cursor: pointer; text-decoration: underline;}
input.log-info { border-radius: 5px; height: 20px;}
*/

/* Styles for the splash page */
.top-marg{
     margin-top:80px;
 }

.gray{
    background-color: #f7f7f7;
    margin-left:0px;
    margin-right:0px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    
}
.minheight{
    min-height: 500px;
    padding-top: 100px;
}

.minheight_1{
    min-height: 500px;
    padding-top: 5%;
    padding-left: 5%
}

h1, h2, h3, h4{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}
body p{
    font-family: 'Roboto', sans-serif;
    color: #555555;
}


.col-md-6 h2, .col-md-12 h2, .col-md-12 h1{
    text-align: center;
}
.signup img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-md-12 h1{
    font-size: 400%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.col-md-12 h2{
    margin-top: 4%;
    margin-bottom: 4%;
}
#playerInfo{
    padding-top: 30px;
    background-image: url("../images/Picture5.jpg");
    background-color: rgba(255, 0, 0, 0.5);
    background-size: cover;
}



.playerInfo p{
    text-align: center;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}


.howitworks p{
    text-align: center;
    
}

.howitworks h1{
    text-align: center;
    color: #ff9933;
    font-size: 400%;
}

.howitworks h2{
    text-align: center;
    color: #ff9933;
    /*margin-bottom: 9%;*/
}

.howitworks h4{
    text-align: center;
}

.jumbotron{
    margin-top: 20px;
    background-image: url("../images/SoccerNet4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.jumbotron h1{
    font-size: 280%;
}
.jumbotron p{
    color: white;
}
.jumbotron .container{
    margin-top: 10px;
}
.icon{
    text-align: center;
}

.signup p, .signup h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.signup p{
    font-size: 120%;
}

#learnMore p{
    padding-top:20px;
    color: black;
}
#learnMore{
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../images/field2.jpg");
    background-size: cover;
}
.topDiv{
    margin-top: 100px;
}
.logo{
    font-size: 70px;
}
.logoBig{
    font-size: 300px;
}
#footer{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 15px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* Styles for the signup processes */

.rightAlign{
    text-align: right;
}
.leftAlign{
    text-align: left;
}
#coachConfirmation table{
    margin-bottom: 500px;
}

.blue{
    color: #3399cc;
}

.orange{
    color: #ff9933;
}

#coachInfo{
    padding-top: 30px;
    background-color: #f7f7f7;
    text-align: center;
}


.backFour h4{
    color: black;
    text-align: center;
}

.player{
    text-align: center;
}


.pmargin{
    margin-bottom: 50px;
}


.difference h2{
    font-size: 200%;
}

#signup h1{
    color: #3399cc;
}

#signup h2{
    color: #ff9933;
}

#splash{
    margin-bottom: 0px;
}

.navbar{
    height: 70px;
   
}
.navbar-brand{
     padding-top: 10px;
}
.navbar-form{
    margin-top: 15px;
      
}

/******************************************
About US
******************************************/

.about h2{
    color: #ff9933;
}

.mission{
    padding-top: 10%;
}
/*.card{
    background-image: url("../images/soccerdude.jpg");
    background-size: cover; 
}*/

.started{
    padding-bottom: 5%;
}

.about h4{
    color: #696969;
}