
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Navbar Header -->
        <div class="navbar-header">
            <a class="navbar-brand"  href="#/">Home</a>
            <a class="navbar-brand"  href="#/customers">Profile</a>
            <a class="navbar-brand"  href="#/login">Sign Out</a>

        </div>

    </div>
</nav>
<div ng-controller='productsController as ex'>
  <div class='row container-fluid'>
        <div class='col-xs-12'>

  <div class='row container-fluid success-message' ng-show='ex.displaySuccessMessage'>
        <div class='col-xs-11' >
                {{ex.success_message}}
        </div>
        <div class='col-xs-1'>
                <span class="glyphicon glyphicon-remove-circle" ng-click="ex.displaySuccessMessage=false"></span>
        </div>
 </div>
 <h3>Online digital Store</h3>
 <p>When it comes to shopping for electronics, nothing beats the convenience of shopping from home.</p>
 <p>There's no standing on long lines, sitting in car traffic, or rushing to the store before it closes.
  Best of all, you don't even have to get dressed.</p>

  <p><strong>Select Product Type:</strong> <select ng-model="ex.item.type"
                ng-options="c.type as c.name for c in ex.items"
                ng-change='ex.getProductsList(ex.item.type)' >
                <option value=''>Select product type</option> <!-- define default value -->
                </select></p>
  <table class='table'>
    <tr ng-repeat='item in ex.products track by $index'
                        ng-show="item.subject==ex.subject.name">
        <td class='col-xs-2'>
                <img  class='images' src='../midterm/assets/images/{{item.image}}'
                        alt='image'   />
        </td>
       <td class='col-xs-10'>
                <strong>{{item.product_title}}</strong>
                <p> {{item.product_description}}</p>
		<p>${{item.unit_price}}</p>
		<p>Quantity :
			<input style='margin-bottom: 10px;' type='text' ng-model='item.quantity'  placeholder='Quantity' />
                </p>
		<p><button type='button' class='btn btn-primary' ng-click='ex.addNewPurchase(item)'>Purchase</button></p>
        </td>
   </tr>
  </table>

  </div>
</div>

 </div> <!-- end controller -->
