.images{max-width: 150px; max-height: 200px;}

.success-message { color: green; font-weight: bold;
    border : 1px solid green;
    padding: 5px;
    margin: 10px;
 }
 
.top-pad{
     padding-top:50px;
 }
 
 .xtra-top-pad{
     padding-top: 90px;
 }

 .sample-container{
     width: 100%;
     margin: 10px 0px;
     background-color: white;
     border-top: 3px solid #28AFE0;
     text-align: center;
     padding:20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     border-radius: 2px;
 }
 .title{
     text-align: left;
     margin-top: 0px;
 }
 #profile-container, #homeContainer, #search-container{
     background-color: #eeeeee;
 }
 
 .profileImage{
     width: 90%;
     height: 90%;
 }
 
 .center-text{
     text-align: center;
 }
 .left-text p{
     text-align: left;
 }
 
 .no-show{
     width: 100%;
     background-color: white;
 }

 .home-container{ 
     width: 100%;
     margin: 10px 0px;
     background-color: white;
     border-top: 4px solid #28AFE0;
     text-align: center;
     padding:10px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     border-radius: 2px;
 }
 #search-controls, #search-results{
     background-color: white;
     border-top: 4px solid #28AFE0;
     text-align: center;
     padding:10px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
     border-radius: 2px;
     margin-bottom: 10px;
 }
 .home-container h4{
     text-align: left;
     padding-bottom: 10px;
 }
 .data-container{
     width: 100%;
     margin: 10px 0px;
     text-align: center;
     padding:0px;
 }
 
 .video-container {
 	position:relative;
 	padding-bottom:56.25%;
 	padding-top:30px;
 	height:0;
 	overflow:hidden;
 }
 
 .video-container iframe, .video-container object, .video-container embed {
 	position:absolute;
 	top:0;
 	left:0;
 	width:100%;
 	height:100%;
 }

#profile-background{
    background-image: url("../Assets/images/profilebackground.jpg");
    height: 200px;
    background-size: cover;
    
}

#update-profile-header h4:hover{
    color: #28AFE0;
}

.blue{
    color: #28AFE0;
}
.navbar-brand{
    padding-top: 10px;
}

/**** Message pop-up ****/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/

.modal-body {padding: 2px 16px;}

/*.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}*/