.images{max-width: 150px; max-height: 200px;}

.success-message { color: green; font-weight: bold;
    border : 1px solid green;
    padding: 5px;
    margin: 10px;
 }
 
.top-pad{
     padding-top:60px;
 }

 .sample-container{
     width: 100%;
     margin: 10px 0px;
     height: 300px;
     background-color: white;
     border-top: 2px solid #28AFE0;
     text-align: center;
     padding:20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 }
 .sample-container h3{
     text-decoration: underline;
 }
 #profile-container, #homeContainer{
     background-color: #eeeeee;
 }
 
 .logomedium{
     font-size: 200px;
 }
 
 .center-text{
     text-align: center;
 }
 .no-show{
     width: 100%;
     background-color: white;
 }

 .home-container{ 
     width: 100%;
     margin: 10px 0px;
     background-color: white;
     border-top: 2px solid #28AFE0;
     text-align: center;
     padding:10px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 }
 .home-container h3{
     text-align: left;
 }
 .data-container{
     width: 100%;
     margin: 10px 0px;
     text-align: center;
     padding:0px;
 }
 
 .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}